body {
	background: yellow;
}

.navbar {
	background: cyan;
	padding: .4em;
	width: auto;
}

.mk_logo {
	margin: auto;
	background: green;
	width: 3.5em;
	height: 1.3em;
}

.project_bg {
	background: thistle;
	height: 100%;
	/*position: fixed;*/
}

.arrow_left {
	background: springgreen;
}

.arrow_right {
	background: chartreuse;
}

.content_wrapper {
	background: paleturquoise;
	position: relative;
	margin-top: -5%;
	z-index: 0;
	padding-top: 60px;
}

.device_frame {
	background: url(images/iphone.png) center no-repeat;
	/*background-size: auto 100%;*/
	width: auto;
	height: 50px;
	position: relative;
	/*top: -60em;*/
	/*margin-top: -95%;*/
	z-index: 2;
}

h1 {
	color: blueviolet;
	text-align: center;
	font-size: 4em;
}

h2 {
	color: mediumpurple;
	text-align: center;
	font-size: 2.4em;
}

p {
	width: 50%;
	min-width: 320px;
	max-width: 550px;
	height: auto;
	text-align: justify;
	margin: auto;
}

.app_icon {
	background: hotpink;
	width: 120px;
	height: 120px;
	margin: 50 auto;
}

.screen_showcase1 {
	background: coral;
}

.screen_showcase2 {
	background: darkorange;
}

h3 {
	color: indianred;
	text-align: center;
}

.screens {
	text-align: center;
	background: yellow;
}

.screen1 {
	background: lightslategray;
	width: 30%;
	height: auto;
	margin: auto;
	position: relative;
	left: 50px;
}

.screen2 {
	background: blue;
	width: 30%;
	height: auto;
	margin: auto;
	position: relative;
}

.screen3 {
	background: green;
	width: 30%;
	height: auto;
	margin: auto;
	position: relative;
	right: 50px;
}

.screens:hover .screen1 {
	left: 38px;
}

.screens:hover .screen3 {
	right: 38px;
}

/*.animation {
	background: orange;
	width: auto;
	height: auto;
	position: relative;
	margin: auto;
	text-align: center;
}

.one {
	background: yellow;
	width: 33.3%;
	min-width: 100px;
	max-width: 240px;
	height: auto;
	position: relative;
	/*right: -60px;*!/
	float: left;
	text-align: left;	
}

.two {
	background: green;
	width: 33.3%;
	min-width: 100px;
	max-width: 240px;
	height: auto;
	position: relative;
	float: left;
	text-align: center;
}

.three {
	background: red;
	width: 33.3%;
	min-width: 100px;
	max-width: 240px;
	height: auto;
	position: relative;
	/*left: -60px;*!/
	float: left;
	text-align: right;
}

.screens {
	width: 100%;
	height: auto;
	position: relative;
}

.screen_one {
	right: -60px;
	-transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
}


.animation:hover .screen_one {
	right: -50px;
	-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}

.screen_three {
	right: 60px;
	-transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
}

.animation:hover .screen_three {
	right: 50px;
	-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}*/



















