@font-face {
	font-family: bebasNeue;
	src: url(fonts/BebasNeueBook.otf);
	format: (opentype);
}

body {
	background: white;
}

.navbar {
	background: white;
	padding: .4em;
/*	width: 100%;
	position: fixed;*/
}

.center {
	margin: auto;
}

.mk_logo {
	margin: auto;
	background: url(images/mklogo.svg) center no-repeat;
	width: 3.5em;
	height: 1em;
}

.project_bg {
	background: url('ddbg.jpg');
	background-size: auto 100%;
	width: 100%;
	height: 96%;
	text-align: center;
	/*position: fixed;*/
}

.bdbg {
	background: url(images/ddbg.jpg);
	background-size: cover;
}

.flbg {
	background: url(images/flbg.jpg);
	background-size: cover;
}

/*.pa {
	background: blue;
	height: 60%;
	z-index: 9999999999;
	position: absolute;
	/*padding: 20px;
	margin-bottom: -140px;
	position: absolute;
	height: 50%;
	top: 30%;*!/
}*/

.arrow_left {
	background: springgreen;
	height: 70;
	position: absolute;
}

.arrow_right {
	background: chartreuse;
	height: 70%;
	position: absolute;
}

.content_wrapper {
	/*background: paleturquoise;*/
	position: relative;
	margin-top: -7%;
	z-index: 0;
	/*padding-top: 60px;*/
	text-align: center;
}

.content_header {
	background: white;
	border-top: 1px solid #f0f0f0;
/*	position: relative;*/
/*	top: -70px;*/
}

.device_frame {
	background: url(images/iphone.png) center no-repeat;
	width: 100%;
	height: 100%;
	max-height: 92%;
	margin-left: auto;
	margin-right: auto;
	z-index: 98;
	position: relative;
	top: 4%;
	background-size: auto 100%;
	-webkit-filter: drop-shadow(0px 0px 16px rgba(0,0,0,0.2));
	filter: url(shadow.svg#drop-shadow);
}

.iphonecontent {
	text-align: center;
	width: 100%;
	height: 71.1%;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	position: relative;
	top: 14.8%;
	overflow: hidden;
}

.hero_bd {
	background: url(images/full/bdcon1.jpg) center no-repeat;
	background-size: auto 100%;
}

.hero_fl {
	background: url(images/FL.png) center no-repeat;
	background-size: auto 100%;
}

.iphoneinside {
	height: 100%;
}

h1 {
	/*color: blueviolet;*/
	margin-top: 106px;
	margin-bottom: -20px;
	text-align: center;
	font-size: 4em;
	font: 3em bebasNeue;
	font-weight: normal;
	font-style: normal;
	letter-spacing: .1em;
}

h2 {
	color: darkgray;
	text-align: center;
	font: 1.6em bebasNeue;
	letter-spacing: .1em;
	margin-bottom: 30px;
}

h3 {
	font: 2.6em bebasNeue;
	text-align: center;
	color: darkgray;
	letter-spacing: .08em;
	margin-bottom: 20px;
}

h4 {
	color: white;
	text-align: center;
}

h5 {
	font: 1.5em bebasNeue;
	text-align: center;
	color: gray;
	margin-top: 0.8em;
	margin-bottom: 0px;
}

.bd_accent {
	color: tan;
}

.fl_accent {
	color: teal;
}

.signature {
	margin-top: 62px;
	padding-left: 10px;
	padding-right: 10px;
}

p {
	width: 80%;
	/*min-width: 90%;*/
	max-width: 550px;
	height: auto;
	text-align: justify;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-size: .95em;
	/*letter-spacing: .1em;*/
	line-height: 1.4em;
	padding-left: 2em;
	padding-right: 2em;
}

.app_icon {
	/*background: hotpink;*/
	width: 120px;
	height: 120px;
	margin: 50px;
}

.screen_showcase {
	background: white;
}

.screens {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
}

.screen1 {
	/*background: lightslategray;*/
	width: 30%;
	height: auto;
	margin: auto;
	position: relative;
	left: 50px;
	-transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
}

.screen2 {
	/*background: blue;*/
	width: 30%;
	height: auto;
	margin: auto;
	position: relative;
}

.screen3 {
	/*background: green;*/
	width: 30%;
	height: auto;
	margin: auto;
	position: relative;
	right: 50px;
	-transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
}

.screens:hover .screen1 {
	left: 38px;
	-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}

.screens:hover .screen3 {
	right: 38px;
	-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}

.screen_showcase_description {
	margin-bottom: 80px;
	margin-top: 40px;
	width: 60%;
	min-width: 300px;
	max-width: ;
}

.processbg {
	width: 100%;
	background: #222222;
	padding-bottom: 40px;
}

/*.process_showcase_title {
	background-color: #222222;
	text-align: center;
}*/

.segcontrols {
	background-color: #222222;
	color: darkgray;
	border: 1px solid darkgray;
	padding: 14px 3%;
	/*margin: -4px;*/
	margin-bottom: 40px;
	position: relative;
	/*top: 10%;*/
	font-size: 11px;
	letter-spacing: .2em;
		-webkit-transition: .08s ease-in-out;
		-moz-transition: .08s ease-in-out;
		-o-transition: .08s ease-in-out;
		transition: .08s ease-in-out;
}

.segcontrols:hover {
	background-color: darkgray;
	border-color: darkgray;
	color: #222222;
		-webkit-transition: .08s ease-in-out;
		-moz-transition: .08s ease-in-out;
		-o-transition: .08s ease-in-out;
		transition: .08s ease-in-out;
		
}

.left {
	border-top-left-radius:.5em;
	border-bottom-left-radius: .5em;
	margin-right: -6px;
}

.right {
	border-top-right-radius:.5em;
	border-bottom-right-radius: .5em;
	margin-left: -5px;
}

.process_showcase {
	/*background-color: #222222;*/
	text-align: center;
}

.process {
	width: 80%;
	max-width: 400px;
}

.white {
	color: white;
}

.footer {
	background: white;
	text-align: center;
	padding-bottom: 40px;
}

.connect {
	margin: auto;
	width: 30%;
	min-width: 320px;
}

.social {
	width: 6em;
	height: 6em;
	margin-top: 26px;
}

.s_r {
	float: left;
	clear: both;
}

.s_l {
	float: right;
}

.twitter {
	background: url(images/social/twitter.svg);
	background-size: 100%;
}

.twitter:hover {
	background: url(images/social/twitter_p.svg);
	background-size: 100%;
}

.email {
	background: url(images/social/email.svg);
	background-size: 100%;
}

.email:hover {
	background: url(images/social/email_p.svg);
	background-size: 100%;
}

.linkedin {
	background: url(images/social/linkedin.svg);
	background-size: 100%;
}

.linkedin:hover {
	background: url(images/social/linkedin_p.svg);
	background-size: 100%;
}

.footer_text {
	font-size: 11px;
	margin-top: 30px;
	color: #a8a8a8;
}

/*.animation {
	background: orange;
	width: auto;
	height: auto;
	position: relative;
	margin: auto;
	text-align: center;
}

.one {
	background: yellow;
	width: 33.3%;
	min-width: 100px;
	max-width: 240px;
	height: auto;
	position: relative;
	/*right: -60px;*!/
	float: left;
	text-align: left;	
}

.two {
	background: green;
	width: 33.3%;
	min-width: 100px;
	max-width: 240px;
	height: auto;
	position: relative;
	float: left;
	text-align: center;
}

.three {
	background: red;
	width: 33.3%;
	min-width: 100px;
	max-width: 240px;
	height: auto;
	position: relative;
	/*left: -60px;*!/
	float: left;
	text-align: right;
}

.screens {
	width: 100%;
	height: auto;
	position: relative;
}

.screen_one {
	right: -60px;
	-transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
}


.animation:hover .screen_one {
	right: -50px;
	-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}

.screen_three {
	right: 60px;
	-transition: .3s ease-in;
	-webkit-transition: .3s ease-in;
}

.animation:hover .screen_three {
	right: 50px;
	-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}*/



















